.MuiDataGrid-footerContainer {
  margin: auto;
}

.MuiTablePagination-displayedRows {
  display: none;
}

.MuiDataGrid-columnHeadersInner {
  background-color: #F5F5F7;
}

.MuiDataGrid-columnHeaderTitle {
  color: #3A3C40;
  font-weight: 600;
}

.css-1dsz311-MuiButtonBase-root-MuiTab-root {
  color: #82868C;
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #2940D3;
}

.MuiFormLabel-asterisk {
  display: none;
}

.MuiFormControlLabel-asterisk {
  display: none;
}